@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Space Grotesk', sans-serif;
    @apply bg-light-bg text-dark-bg dark:bg-dark-bg dark:text-white;
    cursor: default;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}
